.app-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-wrapper {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.game-table {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.ceil {
    border: 1px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win {
    background-color: red;
}