@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
    --title-font: 400 40px 'Quicksand', sans-serif;
    --interactive-font: 300 32px 'Quicksand', sans-serif;
    --ceil-font: 500 72px 'Quicksand', sans-serif;
    --main-color: #7fffd4;
}

body {
    background-color: #fff8f0;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-wrapper {
    width: 1200px;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}

.game-table {
    margin: 80px auto 0;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ceil {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    background-color: var(--main-color);
    font: var(--ceil-font);
    transition: .5s;
}

.ceil:hover {
    transform: scale(.95);
}

.neutral {
    background-color: gainsboro;
}

.win {
    background-color: #ff7474;
}

header {
    height: 80px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-header {
    font: var(--title-font);
    color: #130005;
}

.interactive-field {
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto 0;
}

.current-player {
    font: var(--interactive-font);
}

#reset {
    letter-spacing: 2px;
    font: var(--interactive-font);
    border: 3px solid #ff7474;
    border-radius: 3px;
    background-color: #ffe6e6;
    padding: 10px 20px;
    transition: .5s;
}

#reset:hover {
    border-color: var(--main-color);
    background-color: #dbfff3;
}