@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
    --ceil-font: 500 72px 'Quicksand', sans-serif;
    --title-font: 400 40px 'Quicksand', sans-serif;
    --footer-font : 500 28px 'Quicksand', sans-serif;
    --interactive-font: 300 36px 'Quicksand', sans-serif;
    --menu-main-font: 300 20px 'Quicksand', sans-serif;
    --menu-large-font: 300 24px 'Quicksand', sans-serif;
    --main-aqua-color: #7fffd4;
    --main-light-color: #fff8f0;
    --danger-color: #ff7474;
    --main-font-color: #2d2d2d;
}

body {
    position: relative;
    overflow: hidden;
    background-color: var(--main-light-color);
}

.app-wrapper {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.field-wrapper {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.game-table {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ceil {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    background-color: var(--main-aqua-color);
    font: var(--ceil-font);
    transition: .5s;
}

.ceil:hover {
    transform: scale(.95);
}

.neutral {
    background-color: #dcdcdc;
}

.win {
    background-color: var(--danger-color);
}

header {
    padding: 0 20px;
    position: relative;
    height: 80px;
    background-color: var(--main-aqua-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-header {
    font: var(--title-font);
    color: var(--main-font-color);
}

.sound-button {
    position: relative;
    width: 70px;
    height: 70px;
}

.current-player {
    color: var(--main-font-color);
    font: var(--interactive-font);
}

#reset {
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    font: var(--interactive-font);
    letter-spacing: 2px;
    border: 3px solid var(--danger-color);
    color: var(--danger-color);
    border-radius: 3px;
    font-weight: 500;
    background-color: transparent;
    transition: .5s;
}

#reset:hover {
    background-color: #ffdddd;
}

.settings-button {
    position: absolute;
    right: 20px;
    padding: 20px;
    width: 80px;
    height: 80px;
}

.icon {
    width: 40px;
    height: 40px;
    fill: var(--main-font-color);
    cursor: pointer;
    transition: .5s;
}

.icon:hover {
    fill: #555;
}

.overlay {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000005e;
    z-index: 1;
    display: none;
}

.menu {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 100vh;
    top:0;
    right: -400px;
    background-color: var(--main-light-color);
    z-index: 2;
    transition: .5s;
}

.hide-button {
    width: 80px;
    height: 80px;
    padding: 20px;
}

.hide:hover {
    fill:var(--danger-color);
}

.options {
    font: var(--menu-large-font);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.options * {
    transition: .5s;
}

.divider {
    height: 40px;
    width: 1px;
    background-color: var(--main-font-color);
}

.options *:hover {
    cursor: pointer;
    color: var(--danger-color);
}

.menu * {
    color: var(--main-font-color);
}

.menu header {
    background-color: var(--main-light-color);
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    transition: .5s;
}

.menu main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.active-menu {
    right: 0;
}

.active-overlay {
    display: block;
}

.switch {
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    padding: 0 5px;
    border:2px solid var(--danger-color);
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.filler {
    flex-basis: 0;
    transition: .5s;
}

.indicator {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: var(--danger-color);
    transition: .5s;
}

.active-switch {
    border-color: var(--main-aqua-color);
}

.active-switch .filler {
    flex-basis: 20px;
}

.active-switch .indicator {
    background-color: var(--main-aqua-color);
}

.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 0;
}

.settings-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.settings-item-title {
    font: var(--menu-main-font);
}